
body{
    background-image: url(./component/image/main.jpg);
    background-size: cover;
}
.d2 a
{
    text-decoration: none;
    color:rgb(199, 193, 193);
    display:list-item;
 /* background-color: tomato; */
 /* border: 1px solid tomato; */
 text-align: justify;
 margin-top: 40px;
 margin-bottom: 50px;
 margin-left: 80px;
 font-size: 30px;
  }
.fotmain{
  position: sticky;
  width: 100%;
  margin-left: -8px;
  padding-right: 15px;
}
  .uul{
    list-style-type: none;
    padding: 100px;
    
 }
 .uul li{
     color: white;
     display: inline-block;
     padding: 12px;
 }
.d2
{   left: 0;
    top: 0;
    transition-property:width;
    transition-duration: 500ms;
    transition-property:initial;
    width: 100px;
    display: none;
    position:fixed;
    height: 100%;
    z-index: 1;
    background-image: url(./component/image/main.jpg);


}
.d2 a:hover{
 color: white;
 
}
.d2:hover{
    transition-timing-function: 5s linear;
    width: 400px;
}
.d1{
    float: left;
}
.d1:hover .d2{

 display: block;
 
 overflow: scroll;
}
li.d1
{
    display: inline-block;

}
.button{
    width: 300px;
    height: 50px;
    border: solid 3px white;
    background-color: black;
    color: white;
    margin-left: 75%;
    font-size: 18px;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: black;
    
}

.fot1{
    background-color: black;
    height: 40px;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    color: white;
  }
  .footer{
    position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  }
  .fot2{
    background-color: rgb(48, 46, 46);
    height: 40px;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    color: white;
  }
  .fot2 h1{
  margin: 0px;
  }
  .fot1 h1{
    margin: 0px;
    }

    .para{
        margin-top: 12%;
        margin-left: 10%;
        height: 300px;
        width: 500px;
        text-align: justify;
        font-size: 25px;
        float: left; 
    }
    .para p{
        color: white;
    }
    .image1{margin-top: 12%;
        margin-left: 60%;
    }
    .image1 img{
        border: solid 5px white;
    }
    
    .image2{margin-top: 12%;
        margin-left: 10%;
        float: left; 
    }
   
    .para2{
        margin-top: 12%;
        margin-left: 60%;
        height: 300px;
        width: 500px;
        text-align: justify;
        font-size: 25px;
        color: white;
        padding-bottom: 400px;
    }
    .about h1{
        background-image: url(/component/image/menubg.jpg);
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 50px;
        margin-bottom: -150px;
        font-size: 120px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Steelfish Rg', 'helvetica neue',
                 helvetica, arial, sans-serif;
        font-weight: 800;
        -webkit-font-smoothing: antialiased;
    }